* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#header {
  height: 64px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
}
#header .header-title {
  width: 330px;
  height: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}
#header .header-title i {
  font-size: 22px;
  margin-right: 8px;
  color: #798AA4;
}
#header .header-title h1 {
  font-size: 24px;
  line-height: 24px;
  color: #363e48;
}
#header .header-logos {
  background-color: #fff;
  width: 78px;
  height: 24px;
  margin: 20px 0px;
}

main {
  background-color: #f5f6fa;
  padding: 40px 143px 382px;
}

.main-content {
  display: flex;
}
.main-content .separador {
  border: 1px solid #e7e8ef;
  margin: 16px 0;
}
.main-content .left #fazenda {
  background-color: #fff;
  width: 248px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e7e8ef;
  margin-top: 27.5px;
  margin-right: 24px;
}
.main-content .left #fazenda .label {
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: #20252b;
}
.main-content .left #fazenda .content {
  font-size: 16px;
  line-height: 24px;
  color: #415164;
}
.main-content .left #fazenda .info {
  font-size: 14px;
  line-height: 18.2px;
  color: #798AA4;
}
.main-content .left #fazenda .fazenda {
  margin: 16px 16px 0;
}
.main-content .left #fazenda .fazenda .content {
  text-transform: uppercase;
}
.main-content .left #fazenda .ddv-s {
  display: flex;
}
.main-content .left #fazenda .ddv-s .data-da-visita, .main-content .left #fazenda .ddv-s .safra {
  margin: 0 16px 16px;
}
.main-content .left #fazenda .realizada-por {
  display: flex;
  margin-bottom: 16px;
}
.main-content .left #fazenda .realizada-por .r-p {
  margin: 0 16px;
}
.main-content .left #fazenda .realizada-por .avatar {
  background-color: #f5f6fa;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #dfe0e7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .left #fazenda .pluviometria {
  margin: 0 16px;
}
.main-content .left #fazenda .pluviometria .rain-info .p1212 {
  font-size: 12px;
  line-height: 12px;
  color: #627389;
  margin-top: 5px;
}
.main-content .left #fazenda .pluviometria .rain-info .p118 {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #20252b;
}
.main-content .left #fazenda .pluviometria .rain-info .p118 i {
  color: #1854C4;
  margin-right: 2px;
}
.main-content .left #fazenda .observacoes {
  margin: 0 16px;
}
.main-content .left #fazenda .observacoes .info {
  color: #415164;
}
.main-content .left #fazenda .botao-imprimir {
  display: flex;
  margin: 0 16px 16px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 216px;
  height: 32px;
  border: 1px solid #C8CED8;
  border-radius: 4px;
}
.main-content .left #fazenda .botao-imprimir p {
  padding: 10px 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #556476;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2%;
}
.main-content .left #fazenda .botao-imprimir p i {
  margin-right: 8px;
  font-size: 16px;
  line-height: 12px;
  color: #415164;
}
.main-content .right h2 {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -2%;
  color: #363e48;
  margin-bottom: 8px;
}
.main-content .right-row {
  display: flex;
  flex-wrap: wrap;
  color: #363E48;
  font-size: 16px;
  line-height: 16px;
}
.main-content .right-row h2 {
  width: 100%;
}
.main-content .right-row i {
  color: #798AA4;
  font-size: 14px;
  line-height: 14px;
}
.main-content .right-row .info {
  font-size: 14px;
  line-height: 18.2px;
  color: #415164;
}
.main-content .right-row img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}
.main-content .right-row #note-card-1 {
  background-color: #fff;
  width: 380px;
  height: fit-content;
  border: 1px solid #dfe0e7;
  border-radius: 8px;
  margin: 0 16px 16px 0;
}
.main-content .right-row #note-card-1 h3 {
  margin: 16px 0 0 16px;
}
.main-content .right-row #note-card-1 .imagens {
  margin: 8px 16px 6px;
}
.main-content .right-row #note-card-1 .imagens img {
  margin-right: 12px;
}
.main-content .right-row #note-card-1 .info {
  margin: 0 0 16px 16px;
}
.main-content .right-row #note-card-2 {
  background-color: #fff;
  width: 380px;
  height: fit-content;
  border: 1px solid #dfe0e7;
  border-radius: 8px;
  margin: 0 16px 16px 0;
}
.main-content .right-row #note-card-2 h3 {
  margin: 16px 0 0 16px;
}
.main-content .right-row #note-card-2 .imagens {
  margin: 8px 16px 6px;
}
.main-content .right-row #note-card-2 .imagens img {
  margin-right: 12px;
}
.main-content .right-row #note-card-2 .info {
  margin: 0 0 16px 16px;
}
.main-content .right-row #note-card-3 {
  background-color: #fff;
  width: 380px;
  height: fit-content;
  border: 1px solid #dfe0e7;
  border-radius: 8px;
  margin: 0 16px 16px 0;
}
.main-content .right-row #note-card-3 h3 {
  margin: 16px 0 0 16px;
}
.main-content .right-row #note-card-3 .imagens {
  margin: 8px 16px 6px;
}
.main-content .right-row #note-card-3 .imagens img {
  margin-right: 12px;
}
.main-content .right-row #note-card-3 .info {
  margin: 0 0 16px 16px;
}
.main-content .right-row #note-card-4 {
  background-color: #fff;
  width: 380px;
  height: fit-content;
  border: 1px solid #dfe0e7;
  border-radius: 8px;
  margin: 0 16px 16px 0;
}
.main-content .right-row #note-card-4 h3 {
  margin: 16px 0 0 16px;
}
.main-content .right-row #note-card-4 .imagens {
  margin: 8px 16px 6px;
}
.main-content .right-row #note-card-4 .imagens img {
  margin-right: 12px;
}
.main-content .right-row #note-card-4 .info {
  margin: 0 0 16px 16px;
}
.main-content .right-row #note-card-4 .info {
  margin-top: 8px;
}
.main-content .right-row #plantation-card-1, .main-content .right-row #plantation-card-2 {
  width: 776px;
  background-color: #fff;
  border: 1px solid #dfe0e7;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  margin-bottom: 16px;
}
.main-content .right-row #plantation-card-1 i, .main-content .right-row #plantation-card-2 i {
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #798AA4;
  margin: 35px 20px 35px 24px;
}
.main-content .right-row #plantation-card-1 .plot-info, .main-content .right-row #plantation-card-2 .plot-info {
  margin: 16px;
  width: 168px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
.main-content .right-row #plantation-card-1 .plot-info .plot-name, .main-content .right-row #plantation-card-2 .plot-info .plot-name {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  margin-right: 12px;
}
.main-content .right-row #plantation-card-1 .plot-info .cicle, .main-content .right-row #plantation-card-2 .plot-info .cicle {
  font-size: 12px;
  line-height: 12px;
  color: #798AA4;
  border: 1px solid #e7e8ef;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 2px 4px;
}
.main-content .right-row #plantation-card-1 .plot-info .variety, .main-content .right-row #plantation-card-2 .plot-info .variety {
  font-size: 12px;
  line-height: 12px;
  color: #627389;
  margin: 4px 0;
}
.main-content .right-row #plantation-card-1 .plot-info .status, .main-content .right-row #plantation-card-2 .plot-info .status {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 10px;
  font-weight: bold;
  color: #57760A;
  border: 1px solid #739E08;
  border-radius: 32px;
  padding: 2px 8px;
  display: flex;
  align-items: center;
}
.main-content .right-row #plantation-card-1 .plot-dates, .main-content .right-row #plantation-card-2 .plot-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
  width: 200px;
}
.main-content .right-row #plantation-card-1 .plot-dates .c1, .main-content .right-row #plantation-card-2 .plot-dates .c1 {
  flex-direction: column;
}
.main-content .right-row #plantation-card-1 .plot-dates .c1 .name, .main-content .right-row #plantation-card-2 .plot-dates .c1 .name {
  margin: 4px 0;
  font-size: 12px;
  line-height: 12px;
  color: #20252b;
}
.main-content .right-row #plantation-card-1 .plot-dates .c2 .date, .main-content .right-row #plantation-card-2 .plot-dates .c2 .date {
  margin: 4px 0;
  font-size: 12px;
  line-height: 12px;
  color: #798AA4;
}
.main-content .right-row #plantation-card-1 .div-1, .main-content .right-row #plantation-card-1 .div-3, .main-content .right-row #plantation-card-2 .div-1, .main-content .right-row #plantation-card-2 .div-3 {
  border: 1px solid #e7e8ef;
}
.main-content .right-row #plantation-card-1 .div-1, .main-content .right-row #plantation-card-2 .div-1 {
  margin-left: 35.5%;
}

footer {
  background-color: #e7e8ef;
  padding: 10px 0;
}
footer .footer {
  font-size: 12px;
  line-height: 12px;
  color: #798AA4;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
