@charset "utf-8"

@function text-color($size)

    $color: #000

    @if $size > 10
        $color: red
    @else 
        $color: blue

    @return $color

@function f-custom-border($variation: 1)
    
    $border: none
    $var: 3

    @if $variation > $var
        // @error "Insira uma variação até o número 3!"
        @warn "o número máximo de variações é #{$var}!"

    @if $variation == 1
        $border: 1px solid black
    @else if $variation == 2
        $border: 2px solid green
    @else
        $border: 3px dotted gold
    
    @return $border

@function custom-width($width: 200px, $division: 2)

    @debug "o valor da divisão é: #{$width / $division}"

    @return $width / $division